body {
    background-color: rgb(161, 143, 143);
}

h1 {
    font-size: 3em;
    color: rgb(0, 0, 0);
    position:relative;
    left:25%;
    text-align: center;
    max-width:800px;
    border-radius: 10px;
    background-color: #ffffff;
}

footer {
    display:flex;
    position:absolute;
    bottom:10px;
    left: 90%;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 10px;
    background-color:bisque;
    margin: 10px;
    color: black;
    text-align: center;
}



