{% extends 'layout.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block contenuPage %}
<h1>Page de contact</h1>
			<p>
				<h3>Lorem</h3>


				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				        Nesciunt saepe blanditiis, excepturi id at amet reiciendis ad!
				        Voluptate dolor omnis nam, provident veritatis, iure inventore vel repellendus expedita tempore asperiores?
                        
			</p>
		{% endblock %}
